﻿@using DemoApplication.Helpers
@using DemoApplication.Models
@model DemoApplication.ViewModel.EmployeeViewModel

@{
    ViewBag.Title = "Create";
}

<div>

    <section>
        <div class="page-header">
            @*<h1><a href=@Url.Action("Index")><i style="padding-right: 20px;" class="fa fa-chevron-left back" aria-hidden="true"></i></a>Create Employee</h1>*@
        </div>
    </section>
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                @using (Html.BeginForm("Create", "Employees", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <fieldset>
                        <legend>
                            @if (CultureHelper.IsRighToLeft())
                            {
                                <a class="AutoFill" title="auto fill"><i class="fa fa-pencil-square pull-left" aria-hidden="true"></i></a>
                            }
                            else
                            {
                                <a class="AutoFill" title="auto fill"><i class="fa fa-pencil-square pull-right" aria-hidden="true"></i></a>
                            }
                            <span style="color: #2196f3">@DemoApplication.Resources.EmployeeStr.CreateNewEmployee</span>
                        </legend>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FullNameEnglish, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FullNameEnglish, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FullNameEnglish, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FullNameArabic, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FullNameArabic, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FullNameArabic, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.JobTitleEnglish, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.JobTitleEnglish, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.JobTitleEnglish, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.JobTitleArabic, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.JobTitleArabic, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.JobTitleArabic, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.BioEnglish, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.BioEnglish, new { cols = "5", rows = "4", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.BioEnglish, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.BioArabic, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @*<span  class="glyphicon glyphicon-remove clearTextArea" ></span>*@
                                @Html.TextAreaFor(model => model.BioArabic, new { cols = "5", rows = "4", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.BioArabic, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.LinkedinUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.LinkedinUrl, new { htmlAttributes = new { @class = "form-control" } })
                                @*<span   class="glyphicon glyphicon-remove TextClear"></span>*@
                                @Html.ValidationMessageFor(model => model.LinkedinUrl, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TwitterUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.TwitterUrl, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TwitterUrl, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.UploadedImagePath, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @*@Html.TextBoxFor(model => model.UploadedImagePath, new { @class = "form-control", type = "file" })*@
                                <label for="UploadedImagePath" class="btn">@DemoApplication.Resources.ActionsStr.SelectImage</label>
                                <span id="TargetFiles">@DemoApplication.Resources.ActionsStr.NoFileSelected</span>
                                <input id="UploadedImagePath" name="UploadedImagePath" type="file" style="visibility:hidden; ">
                                @Html.ValidationMessageFor(model => model.UploadedImagePath, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    <div class="radio">
                                        <label>
                                            @Html.RadioButtonFor(model => model.Gender, Employee.GENDER.MALE.ToString(), new { @checked = true })
                                            @DemoApplication.Resources.EmployeeStr.MaleSingel
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            @Html.RadioButtonFor(model => model.Gender, Employee.GENDER.FEMALE.ToString())
                                            @DemoApplication.Resources.EmployeeStr.FemaleSingel
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>



                        @*<div class="form-group">
                                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EnumDropDownListFor(model => model.Gender, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                </div>
                            </div>*@
                        <div class="container col-lg-offset-2">
                            <div class="form-group">
                                <div class="g-recaptcha" data-sitekey="@System.Web.Configuration.WebConfigurationManager.AppSettings["Sitekey"]"></div>
                                <div style="color: red">
                                    @if (TempData["recaptcha"] != null)
                                    {
                                        <p>@TempData["recaptcha"]</p>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-lg-10 col-lg-offset-2 ">
                                @*<button type="reset" class="btn btn-default">Cancel</button>*@
                                @if (CultureHelper.IsRighToLeft())
                                {

                                    <button type="submit" class="btn btn-primary pull-left" style="margin: 2px"> @DemoApplication.Resources.ActionsStr.Save</button>
                                    <a class="btn btn-warning pull-left" href="@Url.Action("Index")" style="margin: 2px"> @DemoApplication.Resources.ActionsStr.BackToList</a>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary pull-right" style="margin: 2px"> @DemoApplication.Resources.ActionsStr.Save</button>
                                    <a class="btn btn-warning pull-right" href="@Url.Action("Index")" style="margin: 2px"> @DemoApplication.Resources.ActionsStr.BackToList</a>
                                }
                            </div>
                        </div>

                    </fieldset>
                }

            </div>

        </div>
    </div>





</div>
@section Scripts {
    @if (CultureHelper.IsRighToLeft())
    {
        <script src='https://www.google.com/recaptcha/api.js?hl=ar'></script>

    }
    else
    {
        <script src='https://www.google.com/recaptcha/api.js'></script>
    }
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var message = "@DemoApplication.Resources.ActionsStr.NoFileSelected";
        $("#UploadedImagePath").change(function () {
            if ($("#UploadedImagePath").val() !== "") {
                var x = document.getElementById("UploadedImagePath").files[0].name;
                document.getElementById("TargetFiles").innerHTML = x;
            } else {
                document.getElementById("TargetFiles").innerHTML = message;
            }
        });
        //$('.TextClear').click(function() {
        //    alert("test");
        //});
        //$('input[type=text],input[type=url],textarea').keyup(function() {
        //    if ($(this).val() !== '') {
        //        $(this).siblings('.TextClear,.clearTextArea').css("visibility", "visible");
        //    } else {
        //        $(this).siblings('.TextClear,.clearTextArea').css("visibility", "hidden");
        //    }
        //});
        $('.AutoFill').click(function() {
            $('.form-control').each(function(e, i) {
                if ($(i).attr('name') === 'Email') {
                    $(i).val('test@test.com');
                }
                else if ($(i).is("textarea")) {
                    $(i).val('Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries');
                }
                else if ($(i).attr('type') === 'url') {
                    $(i).val('https://www.google.com/');
                }
                else {
                    $(i).val('test ' + $(i).attr('name'));
                }
            });
        });
    </script>
    <style>
        input, select, textarea {
            max-width: 100%;
        }

        .AutoFill {
            cursor: pointer;
        }
        /*.TextClear {
            float: right;
            margin-right: 6px;
            margin-top: -22px;
            position: relative;
            z-index: 2;
            font-size: 15px;
            visibility: hidden;
        }
        .clearTextArea {
            float: right;
            margin-right: 6px;
            position: relative;
            z-index: 2;
            font-size: 15px;
            visibility: hidden;
        }*/
    </style>
}

