﻿@using DemoApplication.Helpers
@model DemoApplication.ViewModel.DisplayEmployeeViewModel

@{
    ViewBag.Title = "Details";
}
<section>
    <div class="page-header">
        @if (CultureHelper.IsRighToLeft())
        {
            <div class="pull-left">
                @Html.ActionLink(@DemoApplication.Resources.ActionsStr.Edit, "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
                <button class="btn btn-danger delete" Empid="@Model.Id">@DemoApplication.Resources.ActionsStr.Delete</button>
            </div>
            <h3>
                <a href=@Url.Action("Index")><i style="padding-right: 25px;" class="fa fa-chevron-right back" aria-hidden="true"></i></a>
                @DemoApplication.Resources.EmployeeStr.EmployeeDetails
            </h3>
        }
        else
        {
            <div class="pull-right">
                @Html.ActionLink(@DemoApplication.Resources.ActionsStr.Edit, "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
                <button class="btn btn-danger delete" Empid="@Model.Id">@DemoApplication.Resources.ActionsStr.Delete</button>
            </div>
            <h3>
                <a href=@Url.Action("Index")><i style="padding-right: 25px;" class="fa fa-chevron-left back" aria-hidden="true"></i></a>@DemoApplication.Resources.EmployeeStr.EmployeeDetails
            </h3>

        }


    </div>
</section>


<div>
    <div class="">
        <div class=" ">
            <div class="col-md-4">
                <div class="thumbnail">
                    @if (String.IsNullOrEmpty(Model.ImageUrl))
                    {
                        if (Model.Gender == 0) // male
                        {
                            <img src="@Url.Content("~/Images/Employee/profile-default-male.png")" class="img-responsive " alt="profile-default-male">
                        }
                        else
                        {
                            <img src="@Url.Content("~/Images/Employee/profile-default-female.png")" class="img-responsive " alt="profile-default-female">
                        }
                    }
                    else
                    {
                        if (!File.Exists(HttpContext.Current.Request.PhysicalApplicationPath + "Uploads/Profile/" + Model.ImageUrl))
                        {
                            if (Model.Gender == 0) // male
                            {
                                <img src="@Url.Content("~/Images/Employee/profile-default-male.png")" class="img-responsive " alt="profile-default-male">
                            }
                            else
                            {
                                <img src="@Url.Content("~/Images/Employee/profile-default-female.png")" class="img-responsive " alt="profile-default-female">
                            }
                        }
                        else
                        {
                            <img src="@Url.Content("~/Uploads/Profile/" + Model.ImageUrl)" class="img-responsive" alt="profile-default-pic">
                        }

                    }
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <div class="">
                    <h3>@Model.FullName</h3>
                </div>
                <div class="">
                    <p class="text-uppercase">@Model.JobTitle</p>
                    <p class="text-justify">@Model.Bio</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>






</div>

@section scripts
{

    <script>
        $(document).ready(function () {
            var message = "@DemoApplication.Resources.EmployeeStr.DeleteConfimration";
            var yes = "@DemoApplication.Resources.ActionsStr.Yes";
            var no = "@DemoApplication.Resources.ActionsStr.No";

            $(".delete").click(function () {

                bootbox.confirm({
                    message: message,
                    buttons: {
                        confirm: {
                            label: yes,
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: no

                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/Employees/" + $('.delete').attr('Empid'),
                                method: "DELETE",
                                success: function () {
                                    location.href = "../Employees/index";
                                }
                            });
                        }
                    }
                });
                //bootbox.confirm(message,

                //    function (result) {
                //        if (result) {
                //            $.ajax({
                //                url: "/api/Employees/" + $('.delete').attr('Empid'),
                //                method: "DELETE",
                //                success: function () {
                //                    location.href = "http://localhost:49710/Employees/";
                //                }
                //            });
                //        }
                //    });
            });
        });





    </script>
}
