﻿@using DemoApplication.Helpers
@using DemoApplication.Models
@model DemoApplication.ViewModel.EmployeeViewModel

@{
    ViewBag.Title = "Edit";
}


 

    <section>
        <div class="page-header">
        </div>
    </section>
    <div class="row">
        <div class="col-md-7">
            <div class="well">
                @using (Html.BeginForm("Edit", "Employees", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.ImageUrl)
                    <fieldset>
                        <legend style="color: #2196f3"> @DemoApplication.Resources.EmployeeStr.EditEmployee</legend>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FullNameEnglish, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FullNameEnglish, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FullNameEnglish, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FullNameArabic, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FullNameArabic, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FullNameArabic, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.JobTitleEnglish, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.JobTitleEnglish, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.JobTitleEnglish, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.JobTitleArabic, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.JobTitleArabic, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.JobTitleArabic, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.BioEnglish, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.BioEnglish, new { cols = "5", rows = "4", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.BioEnglish, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.BioArabic, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.BioArabic, new { cols = "5", rows = "4", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.BioArabic, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.LinkedinUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.LinkedinUrl, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LinkedinUrl, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TwitterUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.TwitterUrl, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TwitterUrl, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.UploadedImagePath, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @*@Html.TextBoxFor(model => model.UploadedImagePath, new { @class = "form-control", type = "file"})*@
                                <label for="UploadedImagePath" class="btn">@DemoApplication.Resources.ActionsStr.SelectImage</label>
                                <span id="TargetFiles">@DemoApplication.Resources.ActionsStr.NoFileSelected</span>
                                <input id="UploadedImagePath" name="UploadedImagePath" type="file" style="visibility:hidden;">

                                @Html.ValidationMessageFor(model => model.UploadedImagePath, "", new { @class = "text-danger" })


                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    <div class="radio">
                                        <label>
                                            @Html.RadioButtonFor(model => model.Gender, Employee.GENDER.MALE.ToString(), new { @checked = true })
                                            @DemoApplication.Resources.EmployeeStr.MaleSingel

                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            @Html.RadioButtonFor(model => model.Gender, Employee.GENDER.FEMALE.ToString())
                                            @DemoApplication.Resources.EmployeeStr.FemaleSingel


                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>



                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EnumDropDownListFor(model => model.Gender, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                        <div class="form-group">
                            <span class="col-md-2"></span>
                            <div class="col-md-8">
                                <div class="g-recaptcha" data-sitekey="6LeLojwUAAAAAEEq3it7fgrKh9-mVeXiBLqglrvl"></div>
                                <div style="color: red">
                                    @if (TempData["recaptcha"] != null)
                                    {
                                        <p>@TempData["recaptcha"]</p>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                @*<button type="reset" class="btn btn-default">Cancel</button>*@
                                @if (CultureHelper.IsRighToLeft())
                                {

                                    <button type="submit" class="btn btn-primary pull-left" style="margin: 2px"> @DemoApplication.Resources.ActionsStr.Save</button>
                                    <a class="btn btn-warning pull-left" href="@Url.Action("Index")" style="margin: 2px"> @DemoApplication.Resources.ActionsStr.BackToList</a>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary pull-right" style="margin: 2px"> @DemoApplication.Resources.ActionsStr.Save</button>
                                    <a class="btn btn-warning pull-right" href="@Url.Action("Index")" style="margin: 2px"> @DemoApplication.Resources.ActionsStr.BackToList</a>
                                }
                            </div>
                        </div>

                    </fieldset>
                }

            </div>

        </div>
        <div class="row">
            <div class="col-md-5">

                <h3 class="text-center">@DemoApplication.Resources.EmployeeStr.CurrentImage</h3>

                <div class="thumbnail center-block" style="height: 340px; width: 340px;">
                    @if (String.IsNullOrEmpty(Model.ImageUrl))
                    {
                        if (Model.Gender == 0) // male
                        {
                            <img src="@Url.Content("~/Images/Employee/profile-default-male.png")" class="img-responsive " alt="profile-default-male">
                        }
                        else
                        {
                            <img src="@Url.Content("~/Images/Employee/profile-default-female.png")" class="img-responsive " alt="profile-default-female">
                        }
                    }
                    else
                    {
                        if (!File.Exists(HttpContext.Current.Request.PhysicalApplicationPath + "Uploads/Profile/" + Model.ImageUrl))
                        {
                            if (Model.Gender == 0) // male
                            {
                                <img src="@Url.Content("~/Images/Employee/profile-default-male.png")" class="img-responsive " alt="profile-default-male">
                            }
                            else
                            {
                                <img src="@Url.Content("~/Images/Employee/profile-default-female.png")" class="img-responsive " alt="profile-default-female">
                            }
                        }
                        else
                        {
                            <img class="img-responsive CurrentIMG" src="~/Uploads/Profile/@Html.DisplayFor(model => model.ImageUrl)" alt="TrainingImage" />
                            if (Model.Gender == 0) // male
                            {
                                <img src="@Url.Content("~/Images/Employee/profile-default-male.png")" class="img-responsive TEMP TEMP-sx" style="visibility: hidden; width: 0" alt="TrainingImage">
                            }
                            else
                            {
                                <img src="@Url.Content("~/Images/Employee/profile-default-female.png")" class="img-responsive TEMP TEMP-sx" style="visibility: hidden; width: 0" alt="TrainingImage">

                            }

                        }

                    }
                </div>
                @if (!String.IsNullOrEmpty(Model.ImageUrl) && File.Exists(HttpContext.Current.Request.PhysicalApplicationPath + "Uploads/Profile/" + Model.ImageUrl))
                {
                    <div class="text-center">
                        <button id="Remove" class="btn btn-danger">@DemoApplication.Resources.ActionsStr.RemoveImage</button>
                    </div>
                }
            </div>
        </div>
    </div>
    



    
    

 




@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var flage = false;
            var remove = "@DemoApplication.Resources.ActionsStr.RemoveImage";
            var undo = "@DemoApplication.Resources.ActionsStr.UnDo";
            $("#Remove").click(function () {
                if (flage === false) {
                    $('.CurrentIMG').css('visibility', 'hidden');
                    $('.CurrentIMG').css('position', 'absolute');
                    $('.TEMP').css('visibility', 'visible');
                    $('.TEMP').css('width', '100%');
                    $('.TEMP').css('position', 'relative');
                    $("#Remove").text("");
                    $("#Remove").append('<i class="fa fa-undo" aria-hidden="true"></i> ' + undo);
                    $("#ImageUrl").prop('value', 'REMOVED');
                    flage = true;
                }
                else {
                    $('.CurrentIMG').css('visibility', 'visible');
                    $('.CurrentIMG').css('position', 'relative');
                    $('.TEMP').css('visibility', 'hidden');
                    $('.TEMP').css('width', '0%');
                    $('.TEMP').css('position', 'absolute');
                    $("#Remove").text(' '+remove+' ');
                    $("#ImageUrl").prop('value', 'NOT_REMOVED');
                    flage = false;
                }
            });
        });
        var message = "@DemoApplication.Resources.ActionsStr.NoFileSelected";

        $("#UploadedImagePath").change(function () {
            if ($("#UploadedImagePath").val() !== "") {
                var x = document.getElementById("UploadedImagePath").files[0].name;
                document.getElementById("TargetFiles").innerHTML = x;
            } else {
                document.getElementById("TargetFiles").innerHTML = message;
            }
        });
    </script>
    <style>
        input, select, textarea {
            max-width: 100%;
        }

        .TEMP {
            visibility: hidden;
            position: absolute;
        }

        .validation-summary-errors {
            color: #a94442;
        }

        .input-validation-error {
            border: 1px solid #a94442;
        }
    </style>
}
