﻿@using DemoApplication.Helpers
@model IEnumerable<DemoApplication.ViewModel.DisplayEmployeeViewModel>

@{
    ViewBag.Title = "Index";
}

@section scripts {
 
    <script>
        $(document).ready(function () {
            $(".filter-button").click(function () {
                var value = $(this).attr('data-filter');
                if (value === "all") {
                    //$('.filter').removeClass('hidden');
                    $('.filter').show('1000');
                }
                else {
                    // $('.filter[filter-item="'+value+'"]').removeClass('hidden');
                    // $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
                    $(".filter").not('.' + value).hide('1000');
                    $('.filter').filter('.' + value).show('1000');
                }
            });
            if ($(".filter-button").removeClass("active")) {
                $(this).removeClass("active");
            }
            $(this).addClass("active");

            var text1 = $('.male').length;
            $('#PastCount').text(text1);

            var text2 = $('.female').length;
            $('#CurrentCount').text(text2);

        });
    </script>
    <style>
        
    </style>


}

<div class="container">
    <div class="page-header">
        <p>
            @if (CultureHelper.IsRighToLeft())
            {
                @Html.ActionLink(@DemoApplication.Resources.ActionsStr.CreateNew, "Create", null, new { @class = "btn btn-primary   pull-left" })

            }
            else
            {
                @Html.ActionLink(@DemoApplication.Resources.ActionsStr.CreateNew, "Create", null, new { @class = "btn btn-primary   pull-right" })

            }
            <h3>
                @DemoApplication.Resources.EmployeeStr.AvailableEmployees
                @*<span style="font-size: 25px; cursor: pointer" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>*@

            </h3>

        </p>

    </div>
    @{
        if (!Model.Any())
        {
            <div class="row">
                <div class="col-md-3">
                    <p style="color: red; margin-bottom: 340px">@DemoApplication.Resources.ActionsStr.NoDataAvaialble</p>
                </div>
            </div>
        }
        else
        {
            <div class="row" style="padding: 20px">
                <div class="text-center">
                    <button class="btn btn-default filter-button" data-filter="all" style="margin: 3px"> @DemoApplication.Resources.EmployeeStr.ALL (@Model.Count())</button>
                    <button class="btn btn-default filter-button" data-filter="male" style="margin: 3px"> @DemoApplication.Resources.EmployeeStr.Male (<span id="PastCount"></span>)</button>
                    <button class="btn btn-default filter-button" data-filter="female" style="margin: 3px"> @DemoApplication.Resources.EmployeeStr.Female (<span id="CurrentCount"></span>)</button>
                </div>
            </div>

            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 filter @(item.Gender == 0 ? "male" : "female")">
                        <div class="thumbnail">
                            <a style="text-decoration:none" href="@Url.Action("Details", new {id = item.Id})">
                                @if (String.IsNullOrEmpty(item.ImageUrl))
                                {
                                    if (item.Gender == 0) // male
                                    {
                                        <img src="@Url.Content("~/Images/Employee/profile-default-male.png")" class="img-responsive " alt="profile-default-male">
                                    }
                                    else
                                    {
                                        <img src="@Url.Content("~/Images/Employee/profile-default-female.png")" class="img-responsive " alt="profile-default-female">
                                    }
                                }
                                else
                                {
                                    if (!File.Exists(HttpContext.Current.Request.PhysicalApplicationPath + "Uploads/Profile/" + item.ImageUrl))
                                    {
                                        if (item.Gender == 0) // male
                                        {
                                            <img src="@Url.Content("~/Images/Employee/profile-default-male.png")" class="img-responsive " alt="profile-default-male">
                                        }
                                        else
                                        {
                                            <img src="@Url.Content("~/Images/Employee/profile-default-female.png")" class="img-responsive " alt="profile-default-female">
                                        }
                                    }
                                    else
                                    {
                                        <img src="@Url.Content("~/Uploads/Profile/" + item.ImageUrl)" class="img-responsive" alt="">
                                    }

                                }
                                <span class="thumb-info-title" style=" font-weight: inherit;">
                                    <span class="thumb-info-inner">@StringTruncate.Truncate(item.FullName,20)</span>
                                    <span class="thumb-info-type">@StringTruncate.Truncate(item.JobTitle, 35)</span>

                                </span>
                            </a>
                           
                        

                            <hr />
                            <div class="caption text-center">

                                <ul class="social-network social-circle">
                                    @if (!String.IsNullOrWhiteSpace(item.TwitterUrl))
                                    {
                                        <li><a target="_blank" style="background-color: #33ccff; bottom:10px" href="@item.TwitterUrl" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    }
                                    else
                                    {
                                        <li><a style="background-color: #D3D3D3; bottom:10px" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    }
                                    @if (!String.IsNullOrWhiteSpace(item.LinkedinUrl))
                                    {
                                        <li><a target="_blank" style="background-color: #007bb7; bottom:10px" href="@item.LinkedinUrl" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                    }
                                    else
                                    {
                                        <li><a style="background-color: #D3D3D3; bottom:10px" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }
                <div class="center-block">
                    @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))*@
                </div>
            </div>
        }
    }
</div>

