﻿@using DemoApplication.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @(CultureHelper.IsRighToLeft() ? Styles.Render("~/ContentAr/css") : Styles.Render("~/Content/css"))
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("APP ICON", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <a  href="/Home/Index">
                    <img  style="width: 45px; margin: 10px" src="~/Images/demo_Icon.png" alt="ICON"/>
                </a>
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    @if (ViewBag.PageTag == 1)
                    {
                        <li class="active">@Html.ActionLink("Employee MVC CRUD", "Index", "Employees")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Employee MVC CRUD", "Index", "Employees")</li>
                    }
                    @*@if (ViewBag.PageTag == 2)
                    {
                        <li class="active">@Html.ActionLink("API CRUD", "Index", "ApiCrud")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("API CRUD", "Index", "ApiCrud")</li>
                    }*@
                    @*@if (ViewBag.PageTag == 3)
                    {
                        <li class="active">@Html.ActionLink("JquaryAjax", "Index", "JquaryAjax")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("JquaryAjax", "Index", "JquaryAjax")</li>
                    }*@
                </ul>





                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>

            <div class="col-lg-10 col-md-10 col-sm-9">

                &copy; @DateTime.Now.Year - My ASP.NET Application

            </div>
            <div class="col-lg-2 col-md-2 col-sm-3">
                <div class="pull-right">
                   
                     <a href="/Base/SetCulture/en" data-toggle="tooltip" data-placement="bottom" title="@DemoApplication.Resources.EmployeeStr.Engilsh">
                        <img src="~/Images/if_flag-usa_748050.png " />
                    </a>
                    <a href="/Base/SetCulture/ar" data-toggle="tooltip" data-placement="bottom" title="@DemoApplication.Resources.EmployeeStr.Arabic">
                        <img src="~/Images/if_flag-saudi-arabia_748010.png" />
                    </a>
                </div>
            </div>



        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
