﻿@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link rel="apple-touch-icon" href="/Content/Images/logo.png" />*@
    @*<link rel="icon" type="image/png" href="/Content/Images/new-design-logo.png" />*@
    <title>Aldrees</title>
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-paper.css" rel="stylesheet" />
</head>
<body>

    <div class="wrapper">
        <div class="container" style="margin-top: 100px">
            <div>
                <h1 class="display-1">  <i class="fa  fa-spin fa-cog fa-3x"></i></h1>
                <h1 class="display-3">Oops! Something went wrong!</h1>
                @if (TempData["ErorrNum"] != null)
                {
                    <p class="lower-case">Help us improve your experience by sending an error report, Erorr Id: @TempData["ErorrNum"]</p>
                }
                else
                {
                    <p class="lower-case">Help us improve your experience by sending an error report.</p>
                }
            </div>
            <p class="text-center"><a class="btn btn-primary" href="../Home/Index"><i class="fa fa-home"></i> Take Me Home</a></p>
        </div>
    </div>
</body>
</html>
<style>
    body {
        background-color: white;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        line-height: 10px;
    }

    .display-1 {
        text-align: center;
        color: #e1b7b7;
        font-size: 200px
    }

        .display-1 .fa {
            animation: fa-spin 5s infinite linear;
            font-size: 250px
        }

    .display-3 {
        padding: 10px;
        text-align: center;
        color: #df726a;
        font-size: 30px
    }

    .lower-case {
        padding-bottom: 20px;
        font-size: 20px;
        text-align: center;
    }
</style>

