﻿@using DemoApplication.Helpers
@model  IEnumerable<DemoApplication.ViewModel.DisplayEmployeeViewModel>
@{
    Layout = "../Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JqueryTest</title>

</head>
<body>
    <div>
        <div class="container">

            <div class="page-header">
                <p>
                    @if (CultureHelper.IsRighToLeft())
                    {

                    <p><a class="btn btn-primary  pull-left" data-toggle="modal" data-target=".modal">@DemoApplication.Resources.ActionsStr.CreateNew</a></p>
                }
                else
                {

                    <p><a class="btn btn-primary  pull-right" data-toggle="modal" data-target=".modal">@DemoApplication.Resources.ActionsStr.CreateNew</a></p>
                }
                    <h3>
                        @DemoApplication.Resources.EmployeeStr.AvailableEmployees
                        @*<span style="font-size: 25px; cursor: pointer" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>*@

                    </h3>

                    </p>

                </div>
            </div>



            <div class="row" id="row">
                @Html.Partial("_EmployeeList", Model)
            </div>

            <div class="modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>


                            <h4 class="modal-title">@DemoApplication.Resources.EmployeeStr.CreateNewEmployee</h4>
                        </div>
                        @using (Html.BeginForm("Create", "Employees", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="well">

                                            <fieldset>
                                                <a class="AutoFill" title="auto fill"><i class="fa fa-pencil-square pull-right" aria-hidden="true"></i></a>

                                                <div class="form-group">
                                                    <label class="control-label col-md-2" for="FullNameEnglish">@DemoApplication.Resources.EmployeeStr.FullNameEnglish</label>
                                                    <div class="col-md-10">
                                                        <input class="form-control text-box single-line" data-val="true" data-val-required="هذا الحقل مطلوب." id="FullNameEnglish" name="FullNameEnglish" type="text" value="">
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="FullNameEnglish" data-valmsg-replace="true"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2" for="FullNameArabic">@DemoApplication.Resources.EmployeeStr.FullNameArabic</label>
                                                    <div class="col-md-10">
                                                        <input class="form-control text-box single-line" data-val="true" data-val-required="هذا الحقل مطلوب." id="FullNameArabic" name="FullNameArabic" type="text" value="">
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="FullNameArabic" data-valmsg-replace="true"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2" for="JobTitleEnglish">@DemoApplication.Resources.EmployeeStr.JobTitleEnglish</label>
                                                    <div class="col-md-10">
                                                        <input class="form-control text-box single-line" data-val="true" data-val-required="هذا الحقل مطلوب." id="JobTitleEnglish" name="JobTitleEnglish" type="text" value="">
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="JobTitleEnglish" data-valmsg-replace="true"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2" for="JobTitleArabic">@DemoApplication.Resources.EmployeeStr.JobTitleArabic</label>
                                                    <div class="col-md-10">
                                                        <input class="form-control text-box single-line" data-val="true" data-val-required="هذا الحقل مطلوب." id="JobTitleArabic" name="JobTitleArabic" type="text" value="">
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="JobTitleArabic" data-valmsg-replace="true"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2" for="BioEnglish">@DemoApplication.Resources.EmployeeStr.BioEnglish</label>
                                                    <div class="col-md-10">
                                                        <textarea class="form-control" cols="5" data-val="true" data-val-required="هذا الحقل مطلوب." id="BioEnglish" name="BioEnglish" rows="4"></textarea>
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="BioEnglish" data-valmsg-replace="true"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2" for="BioArabic">@DemoApplication.Resources.EmployeeStr.BioArabic</label>
                                                    <div class="col-md-10">

                                                        <textarea class="form-control" cols="5" data-val="true" data-val-required="هذا الحقل مطلوب." id="BioArabic" name="BioArabic" rows="4"></textarea>
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="BioArabic" data-valmsg-replace="true"></span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label col-md-2" for="LinkedinUrl">@DemoApplication.Resources.EmployeeStr.LinkedinUrl</label>
                                                    <div class="col-md-10">
                                                        <input class="form-control text-box single-line" data-val="true" data-val-url="يجب أن يكون الحقل عنوان URL" id="LinkedinUrl" name="LinkedinUrl" type="url" value="">

                                                        <span class="field-validation-valid text-danger" data-valmsg-for="LinkedinUrl" data-valmsg-replace="true"></span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label col-md-2" for="TwitterUrl">@DemoApplication.Resources.EmployeeStr.TwitterUrl</label>
                                                    <div class="col-md-10">
                                                        <input class="form-control text-box single-line" data-val="true" data-val-url="يجب أن يكون الحقل عنوان URL" id="TwitterUrl" name="TwitterUrl" type="url" value="">
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="TwitterUrl" data-valmsg-replace="true"></span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label col-md-2" for="UploadedImagePath">@DemoApplication.Resources.EmployeeStr.ImageUrl</label>
                                                    <div class="col-md-10">

                                                        <label for="UploadedImagePath" class="btn">اختر صورة</label>
                                                        <span id="TargetFiles">لم يتم اختيار اي ملف</span>
                                                        <input id="UploadedImagePath" name="UploadedImagePath" type="file" style="visibility:hidden; ">
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="UploadedImagePath" data-valmsg-replace="true"></span>

                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label col-md-2" for="Gender">@DemoApplication.Resources.EmployeeStr.Gender</label>
                                                    <div class="col-md-10">
                                                        <div class="checkbox">
                                                            <div class="radio">
                                                                <label>
                                                                    <input checked="True" data-val="true" data-val-required="The الجنس field is required." id="Gender" name="Gender" type="radio" value="MALE">
                                                                    @DemoApplication.Resources.EmployeeStr.MaleSingel
                                                                </label>
                                                            </div>
                                                            <div class="radio">
                                                                <label>
                                                                    <input id="Gender" name="Gender" type="radio" value="FEMALE">
                                                                    @DemoApplication.Resources.EmployeeStr.FemaleSingel

                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>




                                                <div class="container col-lg-offset-2">
                                                    <div class="form-group">
                                                        <div class="g-recaptcha" data-sitekey="6LeLojwUAAAAAEEq3it7fgrKh9-mVeXiBLqglrvl"><div style="width: 304px; height: 78px;"><div><iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LeLojwUAAAAAEEq3it7fgrKh9-mVeXiBLqglrvl&amp;co=aHR0cDovL2xvY2FsaG9zdDo0OTcxMA..&amp;hl=ar&amp;v=v1536180392857&amp;size=normal&amp;cb=blktfkh2nr2m" width="304" height="78" role="presentation" name="a-nocdzqg0lz5a" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;  display: none; "></textarea></div></div>
                                                        <div style="color: red">
                                                        </div>
                                                    </div>
                                                </div>


                                            </fieldset>









                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">@DemoApplication.Resources.ActionsStr.Close</button>
                                <button type="submit" class="btn btn-primary" onclick="CreateEmployee()">@DemoApplication.Resources.ActionsStr.Save</button>
                            </div>

                        }
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>
@section scripts
{
    <script>
        //$.ajax({
        //    type: 'GET',
        //    url: '/api/Employees',
        //    //data: { get_param: 'value' },
        //    dataType: 'json',
        //    success: function (data) {
        //        var body = "";
        //        $.each(data, function (index, element) {
        //            if (element.Gender == 0) {
        //                body += '<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 filter male">' +
        //                    '<div class="thumbnail">' +
        //                    '<a style="text-decoration:none" href=/Employees/Details/' + element.Id + '>' +
        //                    '<img src = "/Images/Employee/profile-default-male.png" class="img-responsive" alt = "profile-default-male"></a>';
        //            } else {
        //                body += '<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 filter female">' +
        //                    '<div class="thumbnail">' +
        //                    '<a style="text-decoration:none" href=/Employees/Details/' + element.Id + '>' +
        //                    '<img src = "/Images/Employee/profile-default-female.png" class="img-responsive" alt = "profile-default-female"></a>';
        //            }
        //            body +=
        //                '<span class="thumbnail-title">' +
        //                '<span >' +
        //                (element.FullNameEnglish) +
        //                '</span>' +
        //                '<span class="thumbnail-title-2">' +
        //                (element.JobTitleEnglish) +
        //                '</span>' +
        //                '</span>' +
        //                '<hr>' +
        //                '<div class="caption text-center">' +
        //                '<ul class="social-network social-circle">';
        //            if (element.TwitterUrl == null) {
        //                body +=
        //                    '<li><a style="background-color: #D3D3D3; bottom:10px" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>';

        //            } else {
        //                body +=
        //                    '<li><a target="_blank" style="background-color: #33ccff; bottom:10px" href=' + element.TwitterUrl + ' class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>';
        //            }
        //            if (element.LinkedinUrl == null) {
        //                body +=
        //                    '<li><a style="background-color: #D3D3D3; bottom:10px" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>';
        //            } else {
        //                body += '<li><a target="_blank" style="background-color: #007bb7; bottom:10px" href=' + element.LinkedinUrl + ' class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>';
        //            }
        //            body +=
        //                '</ul>' +
        //                '</div>' +
        //                '</div>' +
        //                '</div>';
        //        });
        //        $("#row").html(body);

        //    }
        //});

        function CreateEmployee() {
            //alert($("#FullNameEnglish").val());
            //alert($("#JobTitleEnglish").val());
            //alert($("#BioEnglish").val());
            //alert($("#LinkedinUrl").val());
            //alert($("#TwitterUrl").val());
            //alert($("input[value='MALE']").is(':checked'));
            //alert($("#UploadedImagePath").get(0).files);

            var EmployeeViewModel = {
                FullNameEnglish: $("#FullNameEnglish").val(),
                JobTitleEnglish: $("#JobTitleEnglish").val(),
                BioEnglish: $("#BioEnglish").val(),
                LinkedinUrl: $("#LinkedinUrl").val(),
                TwitterUrl: $("#TwitterUrl").val(),
                Gender: ($("input[value='MALE']").is(':checked')) ? true : false,
                //UploadedImagePath: $("#UploadedImagePath").get(0).files
            };


            //$.ajax({
            //    url: "http://localhost:49710/api/EmpApi/SaveEmployee",
            //    method: "POST",
            //    dataType: "json",
            //    contentType: "application/json; charset=utf-8",
            //    data: JSON.stringify(EmployeeViewModel),
            //    success: function (result) {
            //        if (result.Result === "OK") {
            //            alert(result.Result);

            //        }
            //    },
            //    error: function () {
            //        alert("Try Again");
            //    }
            //});
        }


        $(".filter-button").click(function () {
            var value = $(this).attr('data-filter');
            if (value === "all") {
                //$('.filter').removeClass('hidden');
                $('.filter').show('1000');
            }
            else {
                // $('.filter[filter-item="'+value+'"]').removeClass('hidden');
                // $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
                $(".filter").not('.' + value).hide('1000');
                $('.filter').filter('.' + value).show('1000');
            }
        });
        if ($(".filter-button").removeClass("active")) {
            $(this).removeClass("active");
        }
        $(this).addClass("active");

        $(window).load(function () {
            // run code
            var text1 = $('.male').length;
            $('#Male').text(text1);
            var text2 = $('.female').length;
            $('#Female').text(text2);
            $('#All').text($('.male').length + $('.female').length);
        });

                            //function ShowModul() {
                            //    alert('tesxt');
                            //}
    </script>
    <style>
        .AutoFill {
            cursor: pointer;
            font-size: 20px;
        }
    </style>

}
