﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.thumbnail {
    border: 1px solid #cccccc !important;
}

hr {
    border-top: 1px solid #dddddd !important;
}

/*.validation-summary-errors {
    color: aqua;
}


.field-validation-error {
    color: aqua;
}

.input-validation-error {
    border: 1px solid aqua;
}*/

::-webkit-file-upload-button {
    font-size: 20px;
}

legend {
    font-size: 25px;
}

.custom-icon-style {
    margin: 10px;
}

[data-toggle] {
    cursor: pointer
}

/* footer social icons */
ul.social-network {
    list-style: none;
    display: inline;
    padding: 0;
}

    ul.social-network li {
        display: inline;
        margin: 0 5px;
        padding: -top: -20px !important;
    }
/* footer social icons */
.social-network a.icoRss:hover {
    background-color: #F56505;
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518;
}

.social-network a.icoVimeo:hover {
    background-color: #0590B8;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

    .social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
    .social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
        color: #fff;
    }

a.socialIcon:hover, .socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

/*aIcon {
background-color: #D3D3D3;
}*/

.thumb-info-title {
    max-width: 100%;
    width: 100%;
}
.thumb-info-title {
    background: rgba(23, 23, 23, 0.8);
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    left: 0;
    letter-spacing: -1px;
    padding: 9px 11px 9px;
    position: absolute;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    z-index: 1;
    max-width: 88%;
    margin-left: 6%;
    margin-top: -35px;
    white-space: nowrap;
  }
.thumb-info-inner {
    display: block;
    position: relative;
}
.thumb-info-type {
    background-color: #0088cc;
    padding: 2px 10px;
    position: absolute;
    font-size: 12px;
    z-index: 2;
    color: #FFF;
    margin-left:2.5%;
    /*margin-top: 10px*/
}

/*@media screen and (max-width: 767px) {

    .thumbnail {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}*/
@media screen and (max-width: 767px) {
    h3 {
        font-size: 22px !important;
        white-space: nowrap;
    }
    .btn {
        font-size: 8px !important;
    }
         
}

#UploadedImagePath {
    position: absolute;
   
}