﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>@DemoApplication.Resources.EmployeeStr.EmployeesPortal</h3>
    <p class="lead">@DemoApplication.Resources.EmployeeStr.ApplicationPurposes</p>
 </div>

<div class="row">
    <div class="col-md-4">
     
    </div>
</div>