﻿@{
    ViewBag.Title = "error";
}

@section scripts {
    <style>
        @@import url(https://fonts.googleapis.com/css?family=opensans:500);

        body {
            background: #ffffff;
            font-family: 'Open Sans', sans-serif;
            overflow: hidden;
        }

        .c {
            color: #1e90ff;
            text-align: center;
            display: block;
            margin: auto;
        }

        ._404 {
            font-size: 180px;
            display: inline-block;
            height: 50px;
            letter-spacing: 15px;
            margin-top: 50px;
        }


        .btn {
            background-color: #1e90ff;
            position: relative;
            display: inline-block;
            width: 200px;
            padding: 5px;
            font-size: 19px;
            margin: 0 auto;
            color: #ffffff;
        }
    </style>
}

<div class="container" style="margin-bottom: 120px">
    <div class="row">
        <div class="col-lg-12">
            <div class='c'>
                <div class='_404'>404</div>
                <hr style="width: 40%">
                <div>PAGE NOT FOUND</div>
                <div></div>
                <br />
                @Html.ActionLink("BACK TO Website", "Index", "Home",null,new{ @class="btn"})
             </div>
        </div>
    </div>
</div>

