﻿@using DemoApplication.Models
@model DemoApplication.ViewModel.EmployeeViewModel

@{
    ViewBag.Title = "Create";
}

<div class="container">

    <section>
        <div class="page-header">
            @*<h1><a href=@Url.Action("Index")><i style="padding-right: 20px;" class="fa fa-chevron-left back" aria-hidden="true"></i></a>Create Employee</h1>*@
        </div>
    </section>
    <div class="row">
        <div class="col-md-6">
            <div class="well bs-component">
                @using (Html.BeginForm("Create", "ApiCrud", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <fieldset>
                        <legend><a href=@Url.Action("Index")><i style="padding-right: 20px;" class="fa fa-chevron-left back" aria-hidden="true"></i></a>Create New Employee</legend>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FullNameEnglish, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FullNameEnglish, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FullNameEnglish, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.JobTitleEnglish, "Job Title", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.JobTitleEnglish, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.JobTitleEnglish, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.BioEnglish, "Bio", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.BioEnglish, new { cols = "5", rows = "6", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.BioEnglish, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.LinkedinUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.LinkedinUrl, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LinkedinUrl, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TwitterUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.TwitterUrl, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TwitterUrl, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.UploadedImagePath, "Profile image", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.UploadedImagePath, new { @class = "form-control", type = "file" })
                                @Html.ValidationMessageFor(model => model.UploadedImagePath, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    <div class="radio">
                                        <label>
                                            @Html.RadioButtonFor(model => model.Gender, Employee.GENDER.MALE.ToString(), new { @checked = true })
                                            Male
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            @Html.RadioButtonFor(model => model.Gender, Employee.GENDER.FEMALE.ToString())

                                            Female
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>



                        @*<div class="form-group">
                                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EnumDropDownListFor(model => model.Gender, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                </div>
                            </div>*@
                        <div class="container col-lg-offset-2">
                            <div class="form-group">
                                <div class="g-recaptcha" data-sitekey="6LeLojwUAAAAAEEq3it7fgrKh9-mVeXiBLqglrvl"></div>
                                <div style="color: red">
                                    @if (TempData["recaptcha"] != null)
                                    {
                                        <p>@TempData["recaptcha"]</p>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                @*<button type="reset" class="btn btn-default">Cancel</button>*@
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>

                    </fieldset>
                }

            </div>

        </div>
    </div>





</div>
@section Scripts {
    <script src='https://www.google.com/recaptcha/api.js'></script>
    @Scripts.Render("~/bundles/jqueryval")
    <style>
        input, select, textarea {
            max-width: 100%;
        }
    </style>
}

