﻿@model DemoApplication.Models.Employee

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullNameArabic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullNameArabic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullNameEnglish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullNameEnglish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BioArabic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BioArabic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BioEnglish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BioEnglish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitleArabic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitleArabic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitleEnglish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitleEnglish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkedinUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkedinUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwitterUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwitterUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
