﻿@model DemoApplication.ViewModel.EmployeeViewModel

@{
    ViewBag.Title = "Details";
}
<section>
    <div class="page-header">
        <div class="pull-right" style="margin: 10px;">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
            <button class="btn btn-danger delete" Empid="@Model.Id">Delete</button>
        </div>
        <h3><a href=@Url.Action("Index")><i style="padding-right: 25px;" class="fa fa-chevron-left back" aria-hidden="true"></i></a>Employee Details</h3>
    </div>
</section>


<div>
    <div class="">
        <div class=" ">
            <div class="col-md-4">
                <div class="thumbnail">
                    @if (String.IsNullOrEmpty(Model.ImageUrl))
                    {
                        if (Model.Gender == 0) // male
                        {
                            <img src="@Url.Content("~/Images/Employee/profile-default-male.png")" class="img-responsive " alt="profile-default-male">
                        }
                        else
                        {
                            <img src="@Url.Content("~/Images/Employee/profile-default-female.png")" class="img-responsive " alt="profile-default-female">
                        }
                    }
                    else
                    {
                        if (!File.Exists(HttpContext.Current.Request.PhysicalApplicationPath + "Uploads/Profile/" + Model.ImageUrl))
                        {
                            if (Model.Gender == 0) // male
                            {
                                <img src="@Url.Content("~/Images/Employee/profile-default-male.png")" class="img-responsive " alt="profile-default-male">
                            }
                            else
                            {
                                <img src="@Url.Content("~/Images/Employee/profile-default-female.png")" class="img-responsive " alt="profile-default-female">
                            }
                        }
                        else
                        {
                            <img src="@Url.Content("~/Uploads/Profile/" + Model.ImageUrl)" class="img-responsive" alt="profile-default-pic">
                        }

                    }
                </div>
            </div>
            <div class="col-lg-8 col-md-8">

                <div class="row">

                    <h3>@Model.FullNameEnglish</h3>
                </div>
                <div class="row">
                    <p class="text-uppercase">@Model.JobTitleEnglish</p>
                    <p class="text-justify">@Model.BioEnglish</p>
                </div>



            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>






</div>

@section scripts
{
    <style>
    </style>
    <script>
        $(document).ready(function () {

            $(".delete").click(function () {
                bootbox.confirm("Are You Sure You want to delete this Employee?",
                    function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/Employees/" + $('.delete').attr('Empid'),
                                method: "DELETE",
                                success: function () {
                                    location.href = "http://localhost:49710/ApiCrud/Index";
                                }
                            });
                        }
                    });
            });
        });





    </script>
}
