﻿@using DemoApplication.Models
@model DemoApplication.ViewModel.EmployeeViewModel

@{
    ViewBag.Title = "Edit";
}


<div class="container">

    <section>
        <div class="page-header">
        </div>
    </section>

    <div class="col-md-7">
        <div class="well bs-component">
            @using (Html.BeginForm("Edit", "ApiCrud", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.ImageUrl)
                <fieldset>
                    <legend><a href=@Url.Action("Index")><i style="padding-right: 20px;" class="fa fa-chevron-left back" aria-hidden="true"></i></a>Edit Employee</legend>
                    <div class="form-group">
                        @Html.LabelFor(model => model.FullNameEnglish, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FullNameEnglish, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FullNameEnglish, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.JobTitleEnglish, "Job Title", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.JobTitleEnglish, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.JobTitleEnglish, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BioEnglish, "Bio", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.BioEnglish, new { cols = "5", rows = "6", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BioEnglish, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LinkedinUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LinkedinUrl, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LinkedinUrl, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TwitterUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TwitterUrl, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TwitterUrl, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UploadedImagePath, "Profile image", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.UploadedImagePath, new { @class = "form-control", type = "file" })
                            @Html.ValidationMessageFor(model => model.UploadedImagePath, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(model => model.Gender, Employee.GENDER.MALE.ToString(), new { @checked = true })
                                        Male
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(model => model.Gender, Employee.GENDER.FEMALE.ToString())

                                        Female
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>



                    @*<div class="form-group">
                            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EnumDropDownListFor(model => model.Gender, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                    <div class="form-group">
                        <span class="col-md-2"></span>
                        <div class="col-md-8">
                            <div class="g-recaptcha" data-sitekey="6LeLojwUAAAAAEEq3it7fgrKh9-mVeXiBLqglrvl"></div>
                            <div style="color: red">
                                @if (TempData["recaptcha"] != null)
                                {
                                    <p>@TempData["recaptcha"]</p>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            @*<button type="reset" class="btn btn-default">Cancel</button>*@
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>

                </fieldset>
            }

        </div>

    </div>




    <div class="col-md-5">

        <h3 class="text-center">Current Image</h3>

        <div class="thumbnail center-block" style="height: 340px; width: 340px;">
            @if (String.IsNullOrEmpty(Model.ImageUrl))
            {
                if (Model.Gender == 0) // male
                {
                    <img src="@Url.Content("~/Images/Employee/profile-default-male.png")" class="img-responsive " alt="profile-default-male">
                }
                else
                {
                    <img src="@Url.Content("~/Images/Employee/profile-default-female.png")" class="img-responsive " alt="profile-default-female">
                }
            }
            else
            {
                if (!File.Exists(HttpContext.Current.Request.PhysicalApplicationPath + "Uploads/Profile/" + Model.ImageUrl))
                {
                    if (Model.Gender == 0) // male
                    {
                        <img src="@Url.Content("~/Images/Employee/profile-default-male.png")" class="img-responsive " alt="profile-default-male">
                    }
                    else
                    {
                        <img src="@Url.Content("~/Images/Employee/profile-default-female.png")" class="img-responsive " alt="profile-default-female">
                    }
                }
                else
                {
                    <img class="img-responsive CurrentIMG" src="~/Uploads/Profile/@Html.DisplayFor(model => model.ImageUrl)" alt="TrainingImage" />
                    if (Model.Gender == 0) // male
                    {
                        <img src="@Url.Content("~/Images/Employee/profile-default-male.png")" class="img-responsive TEMP TEMP-sx" style="visibility: hidden; width: 0" alt="TrainingImage">
                    }
                    else
                    {
                        <img src="@Url.Content("~/Images/Employee/profile-default-female.png")" class="img-responsive TEMP TEMP-sx" style="visibility: hidden; width: 0" alt="TrainingImage">

                    }

                }

            }
        </div>
        @if (!String.IsNullOrEmpty(Model.ImageUrl) && File.Exists(HttpContext.Current.Request.PhysicalApplicationPath + "Uploads/Profile/" + Model.ImageUrl))
        {
            <div class="text-center">
                <button id="Remove" class="btn btn-danger">Remove Image</button>
            </div>
        }
    </div>

</div>




@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var flage = false;
            $("#Remove").click(function () {
                if (flage == false) {
                    $('.CurrentIMG').css('visibility', 'hidden');
                    $('.CurrentIMG').css('position', 'absolute');
                    $('.TEMP').css('visibility', 'visible');
                    $('.TEMP').css('width', '100%');
                    $('.TEMP').css('position', 'relative');
                    $("#Remove").text("");
                    $("#Remove").append('<i class="fa fa-undo" aria-hidden="true"></i>' + ' Undo ');
                    $("#ImageUrl").prop('value', 'REMOVED');
                    flage = true;
                }
                else {
                    $('.CurrentIMG').css('visibility', 'visible');
                    $('.CurrentIMG').css('position', 'relative');
                    $('.TEMP').css('visibility', 'hidden');
                    $('.TEMP').css('width', '0%');
                    $('.TEMP').css('position', 'absolute');
                    $("#Remove").text(' Remove Image ');
                    $("#ImageUrl").prop('value', 'NOT_REMOVED');
                    flage = false;
                }
            });
        });
    </script>
    <style>
        input, select, textarea {
            max-width: 100%;
        }

        .TEMP {
            visibility: hidden;
            position: absolute;
        }

        .validation-summary-errors {
            color: #a94442;
        }

        .input-validation-error {
            border: 1px solid #a94442;
        }
    </style>
}
