﻿@model IEnumerable<DemoApplication.ViewModel.EmployeeViewModel>

@{
    ViewBag.Title = "Index";
}

@section scripts {
    <style>
        /* footer social icons */
        ul.social-network {
            list-style: none;
            display: inline;
            padding: 0;
        }

            ul.social-network li {
                display: inline;
                margin: 0 5px;
                padding: -top: -20px !important;
            }
        /* footer social icons */
        .social-network a.icoRss:hover {
            background-color: #F56505;
        }

        .social-network a.icoFacebook:hover {
            background-color: #3B5998;
        }

        .social-network a.icoTwitter:hover {
            background-color: #33ccff;
        }

        .social-network a.icoGoogle:hover {
            background-color: #BD3518;
        }

        .social-network a.icoVimeo:hover {
            background-color: #0590B8;
        }

        .social-network a.icoLinkedin:hover {
            background-color: #007bb7;
        }

            .social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
            .social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
                color: #fff;
            }

        a.socialIcon:hover, .socialHoverClass {
            color: #44BCDD;
        }

        .social-circle li a {
            display: inline-block;
            position: relative;
            margin: 0 auto 0 auto;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            text-align: center;
            width: 50px;
            height: 50px;
            font-size: 20px;
        }

        .social-circle li i {
            margin: 0;
            line-height: 50px;
            text-align: center;
        }

        .social-circle li a:hover i, .triggeredHover {
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -ms--transform: rotate(360deg);
            transform: rotate(360deg);
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;
            -ms-transition: all 0.2s;
            transition: all 0.2s;
        }

        .social-circle i {
            color: #fff;
            -webkit-transition: all 0.8s;
            -moz-transition: all 0.8s;
            -o-transition: all 0.8s;
            -ms-transition: all 0.8s;
            transition: all 0.8s;
        }

        /*aIcon {
          background-color: #D3D3D3;
         }*/

        .thumbnail-title {
            /*transition: all 0.3s;*/
            background: rgba(23, 23, 23, 0.8);
            /*bottom: 10%;*/
            color: #FFF;
            font-size: 20px;
            /*font-weight: 600;*/
            /*right: 0;*/
            /*letter-spacing: -1px;*/
            padding: 10px 12px 10px 12px;
            position: absolute;
            bottom: 130px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
            text-transform: uppercase;
            /*z-index: 2;*/
        }

        .thumbnail-title-2 {
            background-color: #0088cc;
            padding: 2px 10px;
            position: absolute;
            font-size: 12px;
            font-weight: 100;
        }

        @@media screen and (max-width: 767px) {

            .thumbnail {
                max-width: 70%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    </style>

    <script>
        $(document).ready(function () {
            $(".filter-button").click(function () {
                var value = $(this).attr('data-filter');
                if (value === "all") {
                    //$('.filter').removeClass('hidden');
                    $('.filter').show('1000');
                }
                else {
                    // $('.filter[filter-item="'+value+'"]').removeClass('hidden');
                    // $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
                    $(".filter").not('.' + value).hide('1000');
                    $('.filter').filter('.' + value).show('1000');
                }
            });
            if ($(".filter-button").removeClass("active")) {
                $(this).removeClass("active");
            }
            $(this).addClass("active");

            var text1 = $('.male').length;
            $('#PastCount').text(text1);

            var text2 = $('.female').length;
            $('#CurrentCount').text(text2);

        });
    </script>


}

<div class="container">
    <div class="page-header">
        <p>@Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary  pull-right" })</p>
        <h3>Available Employees</h3>
    </div>
    @{
        if (!Model.Any())
        {
            <div class="row">
                <div class="col-md-3">
                    <p style="color: red; margin-bottom: 340px">No Data Avaialble</p>
                </div>
            </div>
        }
        else
        {
            <div class="row" style="padding: 20px">
                <div class="text-center">
                    <button class="btn btn-default filter-button" data-filter="all" style="margin: 3px"> All (@Model.Count())</button>
                    <button class="btn btn-default filter-button" data-filter="male" style="margin: 3px"> Male (<span id="PastCount"></span>)</button>
                    <button class="btn btn-default filter-button" data-filter="female" style="margin: 3px"> Female (<span id="CurrentCount"></span>)</button>
                </div>
            </div>

            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 filter @(item.Gender == 0 ? "male" : "female")">
                        <div class="thumbnail">
                            <a style="text-decoration:none" href="@Url.Action("Details", new {id = item.Id})">
                                @if (String.IsNullOrEmpty(item.ImageUrl))
                                {
                                    if (item.Gender == 0) // male
                                    {
                                        <img src="@Url.Content("~/Images/Employee/profile-default-male.png")" class="img-responsive " alt="profile-default-male">
                                    }
                                    else
                                    {
                                        <img src="@Url.Content("~/Images/Employee/profile-default-female.png")" class="img-responsive " alt="profile-default-female">
                                    }
                                }
                                else
                                {
                                    if (!File.Exists(HttpContext.Current.Request.PhysicalApplicationPath + "Uploads/Profile/" + item.ImageUrl))
                                    {
                                        if (item.Gender == 0) // male
                                        {
                                            <img src="@Url.Content("~/Images/Employee/profile-default-male.png")" class="img-responsive " alt="profile-default-male">
                                        }
                                        else
                                        {
                                            <img src="@Url.Content("~/Images/Employee/profile-default-female.png")" class="img-responsive " alt="profile-default-female">
                                        }
                                    }
                                    else
                                    {
                                        <img src="@Url.Content("~/Uploads/Profile/" + item.ImageUrl)" class="img-responsive" alt="">
                                    }

                                }
                            </a>
                            <span class="thumbnail-title">
                                <span class=" ">@item.FullNameEnglish</span>
                                <span class="thumbnail-title-2">@item.JobTitleEnglish</span>
                            </span>

                            <hr />
                            <div class="caption text-center">

                                <ul class="social-network social-circle">
                                    @if (!String.IsNullOrWhiteSpace(item.TwitterUrl))
                                    {
                                        <li><a target="_blank" style="background-color: #33ccff; bottom:10px" href="@item.TwitterUrl" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    }
                                    else
                                    {
                                        <li><a style="background-color: #D3D3D3; bottom:10px" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    }
                                    @if (!String.IsNullOrWhiteSpace(item.LinkedinUrl))
                                    {
                                        <li><a target="_blank" style="background-color: #007bb7; bottom:10px" href="@item.LinkedinUrl" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                    }
                                    else
                                    {
                                        <li><a style="background-color: #D3D3D3; bottom:10px" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }
                <div class="center-block">
                    @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))*@
                </div>
            </div>
        }
    }
</div>

